header{
  background: url('/Task6-Resources/content/header.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.unique-design{
  background: url('/Task6-Resources/content/unique-design-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  background-size: cover;
  -o-background-size: cover;
  height: 610px;
  text-align:center;
}

.ipad-vert{
  padding-top:25px;
  width:25%;
}
.iphone-vert{
  position:absolute;
  margin-left:-100px;
  padding-top:140px;
  width:15%;
}

.acc-but{
  width:100%;
  text-align: left;
  background: none;
  border: 1px solid gray;
  margin: 1px;
  cursor: pointer;
}

.slider{
  background-color: rgb(236, 236, 236);
  text-align:center;
  padding-left:400px;
  margin-top:50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image:none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: rgb(155, 143, 143);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: rgb(155, 143, 143);
}

.what-people-say{
  background: url('/Task6-Resources/content/unique-design-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  background-size: cover;
  -o-background-size: cover;
  height: 610px;
  text-align:center;
  
}

.map-bg{
  height:260px;
  width: cover;
}

#email{
  width:60%;
}

#sub{
  background:none;
  color:white;
  border-style: solid;
  border-color: #95E1D3;
  background-color:#95E1D3;
}

footer{
  width:cover;
  background-color: rgb(236, 236, 236);
  height:690px;
}
.people-text1{
  margin-bottom:0px;
  text-align:left;

}
.people-text2{
  text-align:left;
  font-size:70%;
  padding-bottom:0px;
  margin-bottom:0px;
  
}

.orange-people-hr{
  text-align:left;
  border-color: orange;
  border-width: 2px 0px;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

 .slider2{
  background-color: white;
  text-align:center;
  padding-left:400px;
  margin-top:50px;
}

.hr-sign{
  display:inline-block;
}

.gray-square{
  background-color: rgb(236, 236, 236);
  width:100%;
  height:150px;
  padding-top:20px;
}

.gallery-cont img{
  width:100%;
}

.gray-square img{
  width:100%;
}

.bottom-bar{
  margin-top:30px;
  background-color:  rgb(236, 236, 236);
  width:100%;
}

.strike {
  display: block;
  text-align: left;
  padding-left:50px;
  overflow: hidden;
  white-space: nowrap; 
}

.latest-blog{
  height:600px;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before
{
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  height: 2px;
  background: orange;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}


.caro-box{
  height: 250px;
  margin-top:100px;
  text-align:left;
}

.slider-text{
  text-align: left;
  
}

.bg-gray{
  background-color: gray;
  color:gray;
}

.undertext-1{
  padding-top:20px;
  text-align: center;
}

.undertext-2{
  text-align: center;
  font-size: 90%;
}

.team-pic{
  width:100%;
}


.bxslider{
  margin-top:50px;
  padding-left:20px;
  padding-right:20px;
  background-color: gray;
}
.signature{
  margin-top:-30px;
  padding-top:0px;
}
/*
.acc-but:after{
  margin-left: 5px;
  content: "\2B9D";
  font-size: 13px;
  float:right;
}

.active:after{
  content: "\2B9F";
}*/

.acc-par{
  width:100%;
  height:100px;
  display:none;
}

.navbar-light {
  .navbar-brand{
    color:white;
    font-family: 'Montserrat', black 900;
    font-weight: 900;
  }
  .navbar-nav{
    .nav-link{
      color: white;
    }
    .nav-link:focus{
      color:#FBE389;
      text-decoration: underline;
    }
    .nav-link:hover{
      color:#FBE389;
      text-decoration: underline;
    }
  }
}

h1{
  font-family: 'Kaushan Script', cursive;
  padding-top: 100px;
  text-align: center;
}

.cursive-top{
  padding-top: 50px;
  font-size:100%;
}
h2{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}

.orange-hr{
  border-color: orange;
  border-width: 2px 0px;
  width: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

p{
  text-align: center;
}

.firstpage{
  border-color: white;
}

.filler{
  height: 150px;
}

.black-txt{
  color: black;
}

.inner-cont{
  width: 70%;
}

.blue-square{
  background-color: #95E1D3;
  color:white;
  text-align: center;
  font-size: 10px;
  padding-top:30px;
  height:150px;
  margin-left: 1px;
}

.scalable-pic{
  width: 100%;
  height: 100%;
}

.welcome-txt{
  font-family: 'Montserrat', black 900;
  line-height: 65px;
  font-weight:900;
  font-size: 80px;
  text-align: center;
}